doctype html
html
  head
      link(rel='stylesheet', href='/stylesheets/bootstrap.css')
      link(rel='stylesheet', href='/stylesheets/semantic.css')
      link(rel='stylesheet', href='/stylesheets/home.css')
      
  body
  h1 #{title}
  h2 Title : #{results.title} 
  h3 Description : #{results.description}
  h4 Askedby : #{results.askedby} on #{results.date}
